<div class="container">
  <h1 class="">Stupid Coaching</h1>
  <p>Ask your coack anything:</p>
  <form action="/answer" data-turbo="false">
    <div class="d-flex">
      <input class="input-group-text" type="text" name="answer" value="<% params[:answer] %>">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
  </form>
</div>
